<html>
      <head>
          <title>Kitanawins blog</title>
      </head>
      <body>
          <div>
              <h1><a href="">Flawless victory</a></h1>
          </div>

          <div>
              <p>published: 06.02.2016, 14:34</p>
              <h2><a href="">Johnny Cage</a></h2>
              <p>Those were $500 sunglasses, asshole.</p>
          </div>

          <div>
              <p>published: 14.06.2014, 12:14</p>
              <h2><a href="">Shang Tsung</a></h2>
              <p>Your soul is mine.</p>
          </div>
      </body>
  </html>
